/* the styles for all the elements within the html */
body {
    font-family: 'Playfair Display', serif;
    font-size: 100%;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

/* the styles for the header */
header h1 {
    text-align: center;
    color: #877750;
}

/* nave menu */
nav {
	background-color: #333;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	flex: 1;
	position: relative;
}

nav ul li a {
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;
}

nav ul li:hover > a {
	background-color: #555;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	width: 100%;
}

nav ul li:hover > ul {
	display: flex;
	flex-direction: column;
}

nav ul ul li a {
	background-color: #555;
	color: #fff;
	padding: 10px;
}

nav ul ul li a:hover {
	background-color: #777;
}

nav ul ul ul {
	left: 100%;
	top: 0;
}
/*end of style for menu*/
/* the styles for project content*/
main h2 {
    text-align: center;
    color: #877750;
}

.project {
    text-indent: 30px;
}

main h1 {
    font-size: 150%;
}

.sith {
    background-color: #460c0b;
}

.quilt {
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
}

.marvel {
    background-color: #ED1D24;
}

.mad {
    background-color: #432172;
}

.letterman {
    background-color: #264561;
}
a:hover {
    font-style: italic;
    color: goldenrod;
}