/*nav element*/
#nav_menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    display: block;
    width: 160px;
    text-align: center;
    padding: 1em 0;
    background-color: slategray;
    color: black;
}

#nav_menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
}

#nav_menu ul ul li {
    float: none;
}

#nav_menu ul li:hover>ul {
    display: block;
}

#nav_menu>ul::after {
    content: "";
    clear: both;
    display: block;
}

#nav_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategray;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/*end of Nav menu css*/
/*start of main element css */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #ffffff
}

ul {
    list-style-type: none;
}

/* the styles for the header */
header h1 {
    text-align: center;
    color: #877750;
}

/*styles for sewing machines*/
.antique {
    color: #bf7f44
}

.kid {
    color: #c23848
}

.brother {
    color: #813e64
}

.babylock {
    color: #d9a958
}