/*nav element*/
nav {
	background-color: #333;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	flex: 1;
	position: relative;
}

nav ul li a {
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;
}

nav ul li:hover > a {
	background-color: #555;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	width: 100%;
}

nav ul li:hover > ul {
	display: flex;
	flex-direction: column;
}

nav ul ul li a {
	background-color: #555;
	color: #fff;
	padding: 10px;
}

nav ul ul li a:hover {
	background-color: #777;
}

nav ul ul ul {
	left: 100%;
	top: 0;
}
/*end of Nav menu css*/
/*start of main element css */
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #ffffff
}
ul {
    list-style-type: none;
}

/* the styles for the header */
header h1 {
    text-align: center;
    color: #877750;
}

/*styles for sewing machines*/
.antique {
    color: #bf7f44
}

.kid {
    color: #c23848
}

.brother {
    color: #813e64
}

.babylock {
    color: #d9a958
}