body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%;
    color: #ffffff;
}

ul {
    list-style-type: none;
}

/* the styles for the header */
header h1 {
    text-align: center;
    color: #877750;
}

/* Styles for nav menu*/
/* nave menu */
nav {
	background-color: #333;
}

nav ul {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	flex: 1;
	position: relative;
}

nav ul li a {
	color: #fff;
	display: block;
	padding: 20px;
	text-decoration: none;
}

nav ul li:hover > a {
	background-color: #555;
}

nav ul ul {
	display: none;
	position: absolute;
	top: 100%;
}

nav ul ul li {
	width: 100%;
}

nav ul li:hover > ul {
	display: flex;
	flex-direction: column;
}

nav ul ul li a {
	background-color: #555;
	color: #fff;
	padding: 10px;
}

nav ul ul li a:hover {
	background-color: #777;
}

nav ul ul ul {
	left: 100%;
	top: 0;
}
/*styles for accessories*/
.other {
    border: #decbb3;
    border-style: dashed;
    border-radius: .5em;
    padding: .5em;
}

.Scissors {
    color: #807f7b;
}

.elegoo {
    color: #17d2fd;
    text-shadow: 4px 4px 4px #072e7d;
}

/*link styling*/
a:hover {
    font-style: italic;
    color: #6460fa;
}

/* the styles for the footer */
footer {
    text-align: center;

}